@{
    ViewData["Title"] = "Home Page";
}


<a id="btnPrint" class="btn btn-success" href="../Home/Print"  target="_blank">Data Table Print</a>

<br />
<a id="btnPrint" class="btn btn-warning" href="../Rpt/Print"  target="_blank">List Data Print</a>

<br />

<a id="btnPrint" class="btn btn-primary" href="../Rpt/BEPPrint"  target="_blank">BEPZA PDF</a>